body{
background-image: url("image/fond.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;


}
a{
  text-decoration: none;
  color: white;
  padding: 20px 40px ;
border: 0px solid white;
border-bottom: 2px solid white;

}

body{
text-align: center;
font-family: fantasy;
  margin: 0px 200px;
}

@media only screen and (max-width: 900px){
body{

  margin: 0px 30px;
}
}

@media only screen and (max-width: 1300px){
navcontent{

  padding: 0px 25px;
  color: red;

}
}



.navbar{
  display: flex;
justify-content: center;
flex-direction: row;
  justify-content: space-evenly;
  margin: -10px -10px;
  background-color: 1A1A1A;
  border-radius: px;
  padding: 30px 5px;
  opacity: 70%;
    font-weight: bold;


      position: -webkit-sticky;
position: sticky;
top: 0;

}
a:hover{
  background-color:  #cfcfcf;
  border-radius: 10px;
  border-bottom: 0px solid ;
}



.navcontent{
  display: flex;
  opacity: 100%;



    font-weight: bold;

}

h2{
  color:white;
  text-decoration: underline;
}
p{
  color:white;
  font-size: 25px;
}
.intro{
  overflow: hidden;
  color:#f0f0f0;
margin-top:25px;
padding-bottom: 200px;
font-size: 25px;
}


.annexe{
  margin-top: 125px;
  text-align: left;
}

.typeslist{
  color: white;
  font-size: 25px;
  list-style: square;
  text-align: left;
}

.img{
  margin-left: auto;
margin-right: auto;
}

.text{
padding: 10000px 0px;
}

.footer{

  text-align: left;
  padding: 50px   50px;
}
